.form-container {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

 .input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #8707ff94;
  }

.textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #8707ff94;
    background-color: transparent;
    font-family: inherit;
  }

.input::placeholder {
  opacity: 0.5;
}

.input:hover {
    box-shadow: 0 0 0 .50vw rgba(137, 14, 146, 0.186);
  }

.input:focus {
  outline: none;
  border-color: #e81cff;
}

.textarea:focus {
  outline: none;
  border-color: #e81cff;
}


.submitButton {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submitButton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .submitButton::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
  }
  
  .submitButton:hover::before, .submitButton:hover::after {
    transform: scale(0)
  }
  
  .submitButton:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
  

  .glitch {
    color: white;
    font-size: 80px;
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% { clip: rect(42px, 9999px, 45px, 0); }
    5% { clip: rect(12px, 9999px, 90px, 0); }
    10% { clip: rect(22px, 9999px, 74px, 0); }
    15% { clip: rect(15px, 9999px, 60px, 0); }
    20% { clip: rect(30px, 9999px, 40px, 0); }
    25% { clip: rect(18px, 9999px, 38px, 0); }
    30% { clip: rect(44px, 9999px, 32px, 0); }
    35% { clip: rect(27px, 9999px, 80px, 0); }
    40% { clip: rect(21px, 9999px, 50px, 0); }
    45% { clip: rect(35px, 9999px, 78px, 0); }
    50% { clip: rect(20px, 9999px, 70px, 0); }
    55% { clip: rect(15px, 9999px, 88px, 0); }
    60% { clip: rect(24px, 9999px, 39px, 0); }
    65% { clip: rect(18px, 9999px, 62px, 0); }
    70% { clip: rect(38px, 9999px, 90px, 0); }
    75% { clip: rect(16px, 9999px, 77px, 0); }
    80% { clip: rect(23px, 9999px, 59px, 0); }
    85% { clip: rect(34px, 9999px, 45px, 0); }
    90% { clip: rect(19px, 9999px, 67px, 0); }
    95% { clip: rect(27px, 9999px, 81px, 0); }
    100% { clip: rect(25px, 9999px, 72px, 0); }
  }
  
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    0% { clip: rect(23px, 9999px, 47px, 0); }
    5% { clip: rect(13px, 9999px, 85px, 0); }
    10% { clip: rect(31px, 9999px, 73px, 0); }
    15% { clip: rect(14px, 9999px, 67px, 0); }
    20% { clip: rect(29px, 9999px, 48px, 0); }
    25% { clip: rect(12px, 9999px, 37px, 0); }
    30% { clip: rect(41px, 9999px, 34px, 0); }
    35% { clip: rect(24px, 9999px, 79px, 0); }
    40% { clip: rect(19px, 9999px, 53px, 0); }
    45% { clip: rect(33px, 9999px, 75px, 0); }
    50% { clip: rect(22px, 9999px, 71px, 0); }
    55% { clip: rect(14px, 9999px, 88px, 0); }
    60% { clip: rect(27px, 9999px, 36px, 0); }
    65% { clip: rect(12px, 9999px, 68px, 0); }
    70% { clip: rect(37px, 9999px, 92px, 0); }
    75% { clip: rect(16px, 9999px, 75px, 0); }
    80% { clip: rect(23px, 9999px, 56px, 0); }
    85% { clip: rect(35px, 9999px, 41px, 0); }
    90% { clip: rect(21px, 9999px, 63px, 0); }
    95% { clip: rect(29px, 9999px, 83px, 0); }
    100% { clip: rect(26px, 9999px, 76px, 0); }
  }
  
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: #151515;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  

  @media (max-width: 1200px) {
    .glitch {
      font-size: 70px;
    }
  }
  
  @media (max-width: 992px) {
    .glitch {
      font-size: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .glitch {
      font-size: 40px;
    }
  }
  
  @media (max-width: 576px) {
    .glitch {
      font-size: 40px;
    }
  }