.shimmer {
  color: #aaa3ff;
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  perspective: 80px;
  transform-style: preserve-3d;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  animation: wave 2.4s ease infinite;
  letter-spacing: 0.01em;
  transform-origin: 100% 50%;
}

@keyframes wave {
  0% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
    color: #aaa3ff;
    text-shadow: 0 0 0 rgba(170, 163, 255, 0);
  }
  12% {
    transform: translate3D(2px, -2px, 2px) scale(1.16) rotateY(6deg);
    color: #d7cfff; /* Adjusted lighten color */
  }
  15% {
    text-shadow: 0 0 2px #d7cfff; /* Adjusted lighten color */
  }
  24% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
    color: #eae7ff; /* Adjusted lighten color */
    opacity: 1;
  }
  36% {
    transform: translate3D(0, 0, 0) scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.headline-purple {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #0d0b38,
    /* coral */ #aaa3ff,
    /* peach */ #0d0b38,
    /* coral */ #aaa3ff,
    /* peach */ #0d0b38,
    /* coral */ #aaa3ff,
    /* peach */ #0d0b38 /* coral */
  );
  background-size: 400% 400%;
  animation: backgroundChange 4s linear infinite alternate;
  display: inline;
}


.baba{
  color: #0d0b38;
}

