@tailwind utilities;
@tailwind base;
@tailwind components;


@font-face {
  font-family: "Horizon";
  src: url("./fonts/newhorizon.otf") format("opentype");
}
@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("/fonts/CircularXXWeb-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetic";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
}
@font-face {
  font-family: "apline";
  src: url("/fonts/gt-apline.otf") format("opentype");
}

.fontHorizon {
  font-family: Horizon;
}

html,
body #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.mouse {
  width: 40px;
  height: 70px;
  border: 3px solid #0f0f0f;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* Landing Page */
.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  /* box-shadow: var(--btn-shadow); */
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
  inset -5px -5px 10px #222;
  border-radius: 1rem;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.test {
  font-family: Horizon;
  background: linear-gradient(#33354b, #33354b) left no-repeat, #ffffff;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
}

.test:hover {
  background-size: 100% 100%;
}

.neonText {
  color: #8c52ff;
  font-family: "Merienda", cursive;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #2b00ff;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #2b00ff;
  }
  to {
    text-shadow: 0px 0px 30px #fff, 0px 0px 30px #2900f7;
  }
}

.headline-orange {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f /* coral */
  );
  background-size: 400% 400%;
  animation: backgroundChange 4s linear infinite alternate;
  display: inline;
}

.headline-dark {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #111111,
    #bb87fd,
    #bb87fd,
    #111111,
    #bb87fd,
    #bb87fd,
    #111111
  );
  background-size: 400% 400%;
  animation: backgroundChange 4s linear infinite alternate;
  display: inline;
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes backgroundChange {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.CommonButton {
  background-color: #fcfeea;
  border-color: #fcfeea;
  border-radius: 1rem;
  border: none;
  padding: 6px 16px;
  text-transform: uppercase;
  line-height: 1.33;
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: "Helvetic";
  transition: 0.3s linear;
}

.CommonButton:hover {
  box-shadow: 0px 0px 13px 5px rgba(207, 200, 200, 0.678);
  font-size: 1.1rem;
}

.getInTouch {
  background-color: #00F0FF;
  color: #000000;
  border: none;
  border-radius: 1rem;
  border: none;
  padding: 6px 14px;
  text-transform: uppercase;
  line-height: 1.33;
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: "Helvetic";
  transition: 0.3s linear;
}

.getInTouch:hover {
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
}

a {
  text-decoration: none;
  list-style: none;
}

.socialButton {
  transition: 0.3s linear;
  border-radius: 1rem;
}
.socialButton:hover {
  background-color: #00F0FF;
  color: #000000;
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
  /* padding: 1px; */
}

.enterButton {
  transition: 0.3s linear;
  border-radius: 1rem;
}
.enterButton:hover {
  background-color: #00F0FF;
  color: #000000;
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
  /* padding: 1px; */
}

.menuOverlay {
  background: #00000053;
  backdrop-filter: blur(10px);
}

.glow-effect {
  filter: drop-shadow(0 0 10px white);
}

.glow3d {
  filter: drop-shadow(0 0 10px rgb(7, 131, 75));
}



