@tailwind utilities;
@tailwind base;
@tailwind components;


@font-face {
  font-family: "Horizon";
  src: url("./fonts/newhorizon.otf") format("opentype");
}
@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("/fonts/CircularXXWeb-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetic";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
}
@font-face {
  font-family: "apline";
  src: url("/fonts/gt-apline.otf") format("opentype");
}

@font-face {
  font-family: "Opti";
  src: url("/fonts/OPTIForquetOldsIta-Sup.otf") format("opentype");
}

.fontOpti{
  font-family: "Opti";
}

.fontHorizon {
  font-family: Horizon;
}

html,
body #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}



.mouse {
  width: 25px;
  height: 40px;
  /* border: 2px solid #f8f2f2; */
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 10px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3e8e8;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}


.test {
  font-family: Horizon;
  background: linear-gradient(#33354b, #33354b) left no-repeat, #ffffff;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
}

.test:hover {
  background-size: 100% 100%;
}

.neonText {
  color: #8c52ff;
  font-family: "Merienda", cursive;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #2b00ff;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #2b00ff;
  }
  to {
    text-shadow: 0px 0px 30px #fff, 0px 0px 30px #2900f7;
  }
}

.headline-orange {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f,
    /* coral */ #feb47b,
    /* peach */ #ff7e5f /* coral */
  );
  background-size: 400% 400%;
  animation: backgroundChange 4s linear infinite alternate;
  display: inline;
}

.headline-dark {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #111111,
    #bb87fd,
    #bb87fd,
    #111111,
    #bb87fd,
    #bb87fd,
    #111111
  );
  background-size: 400% 400%;
  animation: backgroundChange 4s linear infinite alternate;
  display: inline;
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes backgroundChange {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.menuButton {
  /* position: relative; */
  width: 6rem;
  height: 2rem;
  background-color: #AAA3FF;
  border-color: #AAA3FF;
  border-radius: 1rem;
  border: none;
  /* padding: 6px 16px; */
  text-transform: uppercase;
  line-height: 1.33;
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: CircularXXWeb-Book;
  font-weight: 900;
  transition: 0.3s linear;
}

.menuButton:hover {
  box-shadow: 0px 0px 13px 5px rgba(207, 200, 200, 0.678);
  font-size: 1.1rem;
}

.getInTouch {
  background-color: #00F0FF;
  color: #000000;
  border: none;
  border-radius: 1rem;
  border: none;
  padding: 6px 14px;
  text-transform: uppercase;
  line-height: 1.33;
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: CircularXXWeb-Book;
  font-weight: 800;
  transition: 0.3s linear;
}

.getInTouch:hover {
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
}

a {
  text-decoration: none;
  list-style: none;
}

.socialButton {
  transition: 0.3s linear;
  padding: 4px;
  border-radius: 1rem;
  overflow: hidden;
}
.socialButton:hover {
  background-color: #00F0FF;
  color: #000000;
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
}

.enterButton {
  transition: 0.3s linear;
  border-radius: 1rem;
}
.enterButton:hover {
  background-color: #00F0FF;
  color: #000000;
  box-shadow: 0px 0px 13px 5px rgba(66, 205, 239, 0.678);
  /* padding: 1px; */
}


.glow-effect {
  filter: drop-shadow(0 0 10px white);
}

.glow3d {
  filter: drop-shadow(0 0 10px rgb(177, 95, 7));
}



.important h1 {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
               0 0 20px rgba(255, 255, 255, 0.4), 
               0 0 30px rgba(255, 255, 255, 0.3), 
               0 0 40px rgba(255, 255, 255, 0.2), 
               0 0 50px rgba(255, 255, 255, 0.1);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #ff0066 10%,
    #ff99cc 20%,
    #ff0066 30%,
    #ff99cc 40%,
    #ff0066 50%,
    #ff99cc 60%,
    #ff0066 70%,
    #ff99cc 80%,
    #ff0066 90%
  );
  background-size: 2000px 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 5s linear infinite;
}